@font-face {
  font-family: SpaceGrotesk;
  src: url(font/SpaceGrotesk-Regular.ttf);
}
@media screen and (max-width: 920px) {
  html,
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: SpaceGrotesk;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
  main {
    flex-direction: column;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
  }
  #header {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #1b1a1d;
  }
  #user-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .user-info-item {
    display: block;
    margin: 5px;
    font-size: 1em;
    color: #dad6d6;
  }
  #shop {
    order: 2;
    width: calc(100% - 20px);
    height: calc(100% - 320px);
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #2e3843;
  }
  #items-list {
    order: 2;
    width: calc(100% - 20px);
    height: calc(100% - 50px);
    padding: 10px;
    margin: 15px 0;
    overflow-y: scroll;
  }
  .item {
    display: flex;
    margin-bottom: 15px;
    background: #1b1a1d;
    color: #dad6d6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
  }
  .item-info-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
    padding: 5px;
  }
  .item-name {
    width: 100%;
    font-weight: normal;
    font-family: SpaceGrotesk;
    white-space: nowrap;
    font-size: 1.1em;
    margin: 3px 0;
  }
  .item-price {
    font-weight: normal;
    font-size: 1em;
    font-family: SpaceGrotesk;
  }
  .remove-from-cart-button,
  .add-to-cart-button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: SpaceGrotesk;
    border: 0;
    cursor: pointer;
    color: #1b1a1d;
    white-space: nowrap;
  }
  .add-to-cart-button {
    background-color: #40c057;
  }
  .remove-from-cart-button {
    background-color: #dc143c;
  }
  .remove-from-cart-button img,
  .add-to-cart-button img {
    width: 30px;
    height: 30px;
  }
  #shopping-cart {
    order: 1;
    width: calc(100% - 20px);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #2e3843;
  }
  #cart-title,
  #shop-list-title {
    display: block;
    padding: 5px;
    width: calc(100% - 10px);
    height: fit-content;
    font-size: 1.3em;
    color: #dad6d6;
    border-bottom: 2px solid #dad6d6;
    text-align: left;
  }
  #cart-items-list {
    padding: 10px;
    height: calc(70% - 20px);
    width: calc(100% - 20px);
    overflow-y: scroll;
    scrollbar-width: thin;
    margin: 15px 0;
  }
  #cart-stat {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #1b1a1d;
    border-radius: 10px;
  }
  #cart-items-count,
  #cart-items-cost,
  #total-cost,
  #shipment-cost {
    display: flex;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    font-size: 1.1em;
    color: #dad6d6;
    text-align: left;
  }
}
@media screen and (min-width: 921px) {
  html,
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: SpaceGrotesk;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
  main {
    display: flex;
    width: 100%;
    height: calc(100% - 150px);
  }
  #header {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: #1b1a1d;
  }
  #user-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .user-info-item {
    display: block;
    margin: 5px;
    font-size: 1.2em;
    color: #dad6d6;
  }
  #shop {
    order: 1;
    width: calc(70% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #2e3843;
  }
  #items-list {
    padding: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    overflow-y: scroll;
    scrollbar-width: thin;
    margin: 15px 0;
  }
  .item {
    display: flex;
    margin-bottom: 15px;
    background: #1b1a1d;
    color: #dad6d6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 80px;
    max-height: 80px;
    overflow: hidden;
  }
  .item-info-container {
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .item-name {
    width: 100%;
    font-weight: normal;
    font-size: 1.2em;
    font-family: SpaceGrotesk;
    margin: 5px 0;
    white-space: nowrap;
  }
  .item-price {
    font-weight: normal;
    font-size: 1.1em;
    font-family: SpaceGrotesk;
  }
  .remove-from-cart-button,
  .add-to-cart-button {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-family: SpaceGrotesk;
    border: 0;
    cursor: pointer;
    color: #1b1a1d;
    white-space: nowrap;
  }
  .add-to-cart-button {
    background-color: #40c057;
  }
  .remove-from-cart-button {
    background-color: #dc143c;
  }
  .remove-from-cart-button img,
  .add-to-cart-button img {
    width: 35px;
    height: 35px;
  }
  #shopping-cart {
    order: 2;
    width: calc(30% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2e3843;
  }
  #cart-title,
  #shop-list-title {
    display: block;
    padding: 20px;
    width: calc(100% - 40px);
    height: fit-content;
    font-size: 1.8em;
    color: #dad6d6;
    border-bottom: 2px solid #dad6d6;
    text-align: left;
  }
  #cart-items-list {
    padding: 20px;
    height: calc(70% - 40px);
    width: calc(100% - 40px);
    overflow-y: scroll;
    scrollbar-width: thin;
    margin: 15px 0;
  }
  #cart-stat {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #1b1a1d;
    border-radius: 10px;
  }
  #cart-items-count,
  #cart-items-cost,
  #total-cost,
  #shipment-cost {
    display: flex;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    font-size: 1.1em;
    color: #dad6d6;
    text-align: left;
  }
}
